.contents
  .top
    .side
      .side-box
        .side-box__logo__square
        .side-box__logo__live
          Spot Library
          

          
    .main
      .main-box
        %ul.main-box
          %li.main-box__user          
            = current_user.name
          %li.main-box__new-topic
            = link_to new_spot_path do  
              NewTopic   
          %li.main-box__all-topic
            = link_to spots_path do
              AllTopic         
          %li.main-box__edit
            = link_to edit_user_path(current_user) do
              Edit
  .content
    .content-box
    
  .down
    .down-box
      = link_to "https://www.facebook.com/profile.php?id=100046093152239", class: "down-box__btn down-box__btn--facebook" do
        = icon('fab', 'facebook-square', class: "down-box__btn--icon")
        %span<>
          Facebook
      = link_to "https://twitter.com/@inoguchikeioda", class: "down-box__btn down-box__btn--twitter" do
        = icon('fab', 'twitter', class: "down-box__btn--icon")
        %span<>
          Twitter
      = link_to "https://www.instagram.com/naohiroprogram/", class: "down-box__btn down-box__btn--instagram" do
        = icon('fab', 'instagram', class: "down-box__btn--icon")
        %span<>
          Instagram
