#account-page.account-page
  .account-page__inner.clearfix
  .account-page__inner--left.account-page__header
    %h2 Login
    %h5 保有のアカウントでログイン
    = render "devise/shared/links"
  .account-page__inner--right.user-form
    = form_for(resourse, as: resourse_name,url: sesssion_path(resourse_name)) do |f|
      .field
        .field-label
          = f.label :email
        .field-input
          = f.email_field :email, autofocus: true
        .field
          .field-label
          %i(英文字8文字以上)
        .field-input
          = f.password_field :password, autocomplete: "off"
        .actions
          = f.submit "Log in", class: 'btn'
